:root {
    --primary: rgb(249,78,78);
  }
  .form{
      display: flex;
      justify-content: center;
      background-color: rgba(27, 24, 24, 0.5);
  }
  #loginForm{
      width: 60vw;
      background-color: white;
      padding: 25px;
  }
#formtitle{
    color: rgb(249,78,78);
  }
.loginlabel{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
  .inputlabel{
    width: 28vw;
    margin-bottom: 10px;
  }
  .userlabel{
    margin-right: 2vw;
  }
.inputlabel > input{
      width: 28.5vw;
      padding:5px 2px;
      border: 0px;
      border-bottom:3px solid gray;
      outline:none;
      
  }
  a:hover{
    color: rgb(249,78,78);
  }
  .or-divider{
      color: rgb(249,78,78) ;
      border-top: 1px solid orangered;
      padding: none;
      margin-top: 40px;
  }
  .or-divider > h6{
    margin-block-start:0px;
    position: relative;
    bottom: 9px;
    background-color: white;
    width: 20px;

  }
  .btnlogin{
    width: 60vw;
  }
  
  .butn {
    padding: 8px 10px;
    margin: 10px;
    margin-top: 20px;
    margin-left: 0px;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background-color: var(--primary);
  }
  
  .butn:hover {
    background-color:  rgb(235, 44, 44);
    transition: all 0.3s ease-out;
  }
  .sign{
    margin-block-end: 0px;
  }

  @media screen and (max-width: 960px) {

    .inputlabel{
      width: 60vw;
    }
    .inputlabel > input{
      width: 60vw;
    }
  }