:root {
  --primary: rgb(249,78,78);
}

.btn {
  padding: 8px 10px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background-color: var(--primary);
}

.btn:hover {
  padding: 6px 18px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  color: rgb(249,78,78);
  border-radius: 4px;
  border: 2px solid var(--primary);
  transition: all 0.3s ease-out;
}
.category-btn{
  padding: 0px;
  border-radius: 4px;
  outline: none;
  border: none;
  font-size: 14px;
  color: rgb(249,78,78);
  cursor: pointer;
  background: none;
}
.category-btn:hover {
  padding-left: 10px;
  transition: all 0.3s ease-out;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.3s ease-out;
}